/***********************************************************************************************************************

	css/_mixins.css

	Copyright © 2020–2025 Thomas Michael Edwards <thomasmedwards@gmail.com>. All rights reserved.
	Use of this source code is governed by a BSD 2-clause "Simplified" License, which may be found in the LICENSE file.

***********************************************************************************************************************/

@define-mixin sc-icons-properties {
	/* cursor: pointer; */
	/* display: inline-block; */
	font-family: sc-icons !important; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 1;
	speak: never;
	text-rendering: auto;
	text-transform: none;
	user-select: none;
	/* vendor-prefixed properties */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
