name: Blabey
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
  schedule:
    # Run a daily scan
    - cron: '0 0 * * *'
    
jobs:
  snyk-security-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/node@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        command: monitor # Uses snyk monitor to enable continuous monitoring in the Snyk web UI
        args: --severity-threshold=high
